.vscode/
node_modules/
.env
dist/
backend/routes/games/index copy.js
backend/routes/games/gameInterface copy.ejs
backend/routes/games/gameInterface old.ejs
backend/routes/games/index old.js
backend/routes/games/renderPlayer2Cards.js
backend/routes/games/gameInterface copy 2. for renderPlayer2Cardsejs
backend/routes/games/WIPupdateGameInterface.js
